@import 'sizes';
@import 'colors';
@import 'typography';

.aside {
  background-color: $green-monster;
  border-right: 5px solid $green-monster-white;
  float: left;
  height: 100%;
}

.at-bat {
  background-color: $td-background;
  border: 5px solid $green-monster-white;
  height: 200px;
  width: 100%;
}

.board-background {
  background-color: $td-background;
  height: 3 * $square-height;
  margin: 11% auto;
  width: 3 * $square-height;
}

.board-div {
  background-color: $green-monster;
  float: left;
  height: 100%;
  position: relative;
}

.board-square {
  border: 5px solid $green-monster-white;
  float: left;
  height: $square-height;
  width: $square-height;
}

.buttons {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.buttons-left {
  display: inline-block;
  float: left;
  margin-top: 15px;
}

.btn {
  border: 3px solid $green-monster-white;
}



.btn-left {
  background-color: $red-sox-blue;
  color: $green-monster-white;

  &:active {
    color: $green-monster-white;
  }

  &:focus {
    color: $green-monster-white;
  }

  &:hover {
    color: $green-monster-white;
  }
}



.chat-area {
  background-color: $black;
  height: 375px;
  overflow-x: auto;
  overflow-y: scroll;
  width: 100%;
}

.chat-btn {
  margin: 5px;
}

.chat-div {
  background-color: $green-monster;
  float: left;
  height: 100%;
  text-align: center;
  width: 100%;
}

.chat-text {
  color: $red-sox-red;
  font-size: 10px;
  text-align: left;
}

.container {
  height: 100%;
  padding: 0;
  width: 100%;
}

.container-fluid {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  height: 90%;
  position: relative;
}

.fenway-jumbotron {
  background-color: $td-background;
  border: 5px solid $green-monster-white;
  height: 100px;
  width: 100%;
}

.game-btn {
  background-color: $red-sox-red;
  color: $red-sox-blue;
}

.game-id {
  color: $green-monster-white;
  font-size: 8px;
  position: absolute;
  text-align: left;
}

.game-view {
  height: 100%;
}

h1 {
  background-color: $td-background;
  border: 5px solid $green-monster-white;
  color: $green-monster-white;
  float: none;
  margin-top: 5px;
  text-align: center;
}

h2 {
  background-color: $td-background;
  border: 5px solid $green-monster-white;
  color: $green-monster-white;
  margin-top: 5px;
  text-align: center;
}

.h2-o {
  margin-top: 50px;
}

.header {
  background-color: $green-monster;
  border-bottom: 5px solid $green-monster-white;
  height: 10%;
  width: 100%;
}

html {
  height: 100%;
}

img {
  height: $square-height - 10;
  width: $square-height - 10;
}

.jumbotron-text {
  color: $green-monster-white;
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}

.move {
  color: $green-monster-white;
  font-size: 6em;
  margin-top: 10px;
  text-align: center;
}

.now-up {
  color: $green-monster-white;
  font-size: 15em;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -55px;
}

.row {
  margin: 0;
  padding: 0;
}

.save-settings-btn {
  margin-top: 50px;
}

table {
  border: 3px solid $green-monster-white;
}

td {
  background-color: $td-background;
  border: 3px solid $green-monster-white;
  color: $green-monster-white;
  text-align: center;
}

textarea {
  resize: none;
  width: 100%;
}
