@import 'sizes';
@import 'colors';
@import 'typography';

.aside {
  background-color: $green-monster;
  border-right: 5px solid $green-monster-white;
  float: left;
  height: 100%;
}

.board-background {
  background-color: $green-monster-white;
  height: 3 * $square-height;
  margin: 11% auto;
  width: 3 * $square-height;
}

.board-div {
  background-color: $green-monster;
  float: left;
  height: 100%;
  position: relative;
}

.board-square {
  border: 1px solid $black;
  float: left;
  height: $square-height;
  width: $square-height;
}

.buttons {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.container {
  height: 100%;
  padding: 0;
  width: 100%;
}

.container-fluid {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  height: 90%;
  position: relative;
}

.fenway-jumbotron {
  background-color: $black;
  height: 280px;
  width: 280px;
}

.game-btn {
  background-color: $red-sox-red;
  color: $red-sox-blue;
}

.game-view {
  height: 100%;
}

h1 {
  border: 5px solid $green-monster-white;
  color: $green-monster-white;
  float: none;
  font-family: Roboto;
  margin-top: 5px;
  text-align: center;
}

h2 {
  border: 5px solid $green-monster-white;
  color: $green-monster-white;
  font-family: Roboto;
  margin-top: 5px;
  text-align: center;
}

.header {
  background-color: $green-monster;
  border-bottom: 5px solid $green-monster-white;
  height: 10%;
  width: 100%;
}

html {
  height: 100%;
}

.jumbotron-text {
  color: $yellow;
  font-family: 'Verdana';
}

.row {
  margin: 0;
  padding: 0;
}
