@import 'colors';
@import 'typography';

.alert {
  text-align: center;
}

.alert-div {
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  border-top: 1px solid $black;
  bottom: 0;
  color: $green-monster-white;
  height: 10%;
  position: absolute;
  width: 100%;
}

.footer-text {
  text-align: center;
}

input {
  margin-top: 10px;
}

.login-title {
  border: 10px solid $green-monster-white;
  color: $green-monster-white;
  font-size: 100px;
  letter-spacing: .1em;
  margin-top: 11%;
  width: 100%;
}

.login-subhead {
  border: 10px solid $green-monster-white;
  color: $green-monster-white;
  font-size: 48px;
  letter-spacing: .1em;
  margin-top: 25%;
  padding: 10px;
  width: 100%;
}

.login-view {
  background-color: $green-monster;
  height: 100%;
  padding: 0;
  width: 100%;
}

.signup-info {
  width: 100%;
}
